<script type="text/javascript">
jQuery.getScript('/js/custom/widgets.js', function() {});
</script>

<div class="pageheader notab">
    <h1 class="pagetitle">项目经理 > 主页</h1>
</div><!--pageheader-->

<div id="contentwrapper" class="contentwrapper widgetpage">

	<div class="one_half">
		<div class="widgetbox">
			<div class="title"><h3>本年度执行中的项目</h3></div>
			<div class="widgetcontent padding0 statement">
			   <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
			        <colgroup>
			            <col class="con0" />
			            <col class="con1" />
			        </colgroup>
			        <thead>
			            <tr>
			                <th class="head0">项目名</th>
			                <th class="head1">创建时间</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr th:each="objInfo,index:${exec}">
			                <td th:text="${objInfo.name}"></td>
			                <td th:text="${#calendars.format(objInfo.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
			            </tr>
			        </tbody>
			    </table>
			</div><!--widgetcontent-->
		</div><!--widgetbox-->
	</div>
	
	 <div class="one_half last">
	 	<div class="widgetbox">
		 	<div class="title"><h3>本年度已完成的项目</h3></div>
			<div class="widgetcontent padding0 statement">
			   <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
			        <colgroup>
			            <col class="con0" />
			            <col class="con1" />
			        </colgroup>
			        <thead>
			            <tr>
			                <th class="head0">项目名</th>
			                <th class="head1">创建时间</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr th:each="objInfo,index:${finish}">
			                <td th:text="${objInfo.name}"></td>
			                <td th:text="${#calendars.format(objInfo.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
			            </tr>
			        </tbody>
			    </table>
			</div><!--widgetcontent-->
		</div><!--widgetbox-->
	 </div>
	
</div>