<script type="text/javascript">
jQuery.getScript('/js/custom/tables.js', function() {});
</script>

<div class="pageheader notab">
    <h1 class="pagetitle">项目经理 > 项目管理 > 项目列表</h1>
</div><!--pageheader-->

<div id="contentwrapper" class="contentwrapper tables">
	<div class="tableoptions">
        <select class="radius3" id="query_param_key">
        	<option value="">请选择</option>
        	<option value="objectNumber" th:selected="${queryKey == 'objectNumber'}?'selected':false">项目编号</option>
        	<option value="name" th:selected="${queryKey == 'name'}?'selected':false">项目名称</option>
        </select> &nbsp;
        <input type="text" id="query_param_value" class="search_input" th:value="${queryValue}"/>
        <button class="radius3" onclick="loadCenterContentQuery('/index/manager/page?page=0');">查询</button>
    </div><!--tableoptions-->	
    <form method="post" action="javascript:void(0);">
    <table cellpadding="0" cellspacing="0" border="0" id="table1" class="stdtable stdtablecb">
        <colgroup>
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
        </colgroup>
        <thead>
            <tr>
                <th class="head1">项目编号</th>
                <th class="head0">项目名称</th>
                <th class="head1">项目合伙人</th>
                <th class="head0">项目质量复核人</th>
                <th class="head1">项目创建时间</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="objInfo,index:${objectList.page.content}">
                <td class="center">
                	<a href="javascript:void(0);" class="orangeboldlink" th:onclick="'loadCenterContentBySubLeft(\'objectId\',\''+${objInfo.id}+'\');'" th:text="${objInfo.objectNumber}"></a>
                </td>
                <td class="center">
                	<a href="javascript:void(0);" class="orangeboldlink" th:onclick="'loadCenterContentBySubLeft(\'objectId\',\''+${objInfo.id}+'\');'" th:text="${objInfo.name}"></a>
                </td>
                <td th:text="${objInfo.partnerUserId}" class="center"></td>
                <td th:text="${objInfo.reviewUserId}" class="center"></td>
                <td th:text="${#calendars.format(objInfo.createTime,'yyyy-MM-dd HH:mm:ss')}" class="center"></td>
            </tr>
        </tbody>
    </table>
    </form>
    <div class="right_padding_top">
		<ul class="pagination">
			<li class="first">
				<a href="javascript:void(0);" onclick="loadCenterContent('/index/manager/page?page=0');" th:class="${objectList.page.isFirst()}?'disable':''">&laquo;</a>
			</li>
			<li class="previous">
				<a href="javascript:void(0);" th:onclick="'loadCenterContent(\'/index/manager/page?page='+${objectList.page.hasPrevious()?(objectList.page.number-1):0}+'\');'" th:class="${objectList.page.isFirst()}?'disable':''">&lsaquo;</a>
			</li>
			<li th:each="i:${#numbers.sequence(objectList.startpage, objectList.endpage)}"><a href="javascript:void(0);" th:onclick="'loadCenterContent(\'/index/manager/page?page='+${i-1}+'\');'" th:text="${i}" th:class="${objectList.page.number+1 == i}?'current':''">1</a></li>
			<li class="next">
				<a href="javascript:void(0);" th:onclick="'loadCenterContent(\'/index/manager/page?page='+${objectList.page.hasNext()?(objectList.page.number+1):0}+'\');'" th:class="${objectList.page.isLast()}?'disable':''">&rsaquo;</a>
			</li>
			<li class="last">
				<a href="javascript:void(0);" th:onclick="'loadCenterContent(\'/index/manager/page?page='+${objectList.page.totalPages}+'\');'" th:class="${objectList.page.isLast()}?'disable':''">&raquo;</a>
			</li>
		</ul>
	</div>
</div><!--contentwrapper-->