<script type="text/javascript">
jQuery.getScript('/js/custom/widgets.js', function() {});
jQuery(document).ready(function(){
	jQuery("#tabs ul:eq(0) li:eq(0) a").click();
});
</script>

<div class="pageheader notab">
    <h1 class="pagetitle">项目经理 > 项目管理 > 项目测试范围</h1>
</div><!--pageheader-->

<!--<div class="pageheader">
    <!-<h1 class="pagetitle">Forms</h1>
    <span class="pagedesc">The content below are loaded using inline data</span>
    ->
    <ul class="hornav">
        <li class="current"><a href="#basicform">项目测试范围</a></li>
        <li><a href="#validation">项目成员管理</a></li>
		<li><a href="#validation">工作任务分配</a></li>
		<li><a href="#validation">工作复核</a></li>
		<li><a href="#validation">项目基本信息</a></li>
    </ul>
</div>pageheader-->

<div id="contentwrapper" class="contentwrapper">
	<div id="basicform" class="subcontent widgetbox">
		<!--<div class="title"><h3>Tabbed Widget</h3></div>-->
		<span class="pagedesc">被审计单位：<span th:text="${info.customName}"></span></span>
		<span class="pagedesc">项目名称：<span th:text="${info.name}"></span></span>
		<span class="pagedesc">审计期间：
			<span th:text="${info.auditStartTime != null?#calendars.format(info.auditStartTime,'yyyy-MM-dd'):'-'}"></span> 
			至 
			<span th:text="${info.auditEndTime !=null?#calendars.format(info.auditEndTime,'yyyy-MM-dd'):'-'}"></span>
		</span>
		<!--<div class="widgetcontent">-->
			<div id="tabs">
				<ul>
					<li><a href="#tabs-1" th:onclick="'loadTabContent(\'tabs-1\', \'/index/manager/test/range?objectId='+${info.id}+'\');'">测试范围</a></li>
					<li><a href="#tabs-2" th:onclick="'loadTabContent(\'tabs-2\', \'/index/manager/test/gclist?page=0&amp;objectId='+${info.id}+'\');'">一般性控制测试（GC）</a></li>
					<li><a href="#tabs-3" th:onclick="'loadTabContent(\'tabs-3\', \'/index/manager/test/aclist?page=0&amp;objectId='+${info.id}+'\');'">自动化控制测试（AC）</a></li>
					<li><a href="#tabs-4" th:onclick="'loadTabContent(\'tabs-4\', \'/index/manager/test/dalist?page=0&amp;objectId='+${info.id}+'\');'">数据分析测试（DA）</a></li>
				</ul>
				<div id="tabs-1">
					
				</div>
				<div id="tabs-2" class="tables">
					
				</div>
				<div id="tabs-3" class="tables">
					
				</div>
				<div id="tabs-4">
					
				</div>
			</div><!--#tabs-->
		<!--</div>widgetcontent-->
	</div><!--widgetbox-->
    
    <div id="validation" class="subcontent" style="display: none">
    	
            <form id="form1" class="stdform" method="post" action="">
            	<p>
                	<label>First Name</label>
                    <span class="field"><input type="text" name="firstname" id="firstname" class="longinput" /></span>
                </p>
                
                <p>
                	<label>Last Name</label>
                    <span class="field"><input type="text" name="lastname" id="lastname" class="longinput" /></span>
                </p>
                
                <p>
                	<label>Email</label>
                    <span class="field"><input type="text" name="email" id="email" class="longinput" /></span>
                </p>
                
                <p>
                	<label>Location</label>
                    <span class="field"><textarea cols="80" rows="5" name="location" class="mediuminput" id="location"></textarea></span> 
                </p>
                
                <p>
                	<label>Select</label>
                    <span class="field">
                    <select name="selection" id="selection">
                    	<option value="">Choose One</option>
                        <option value="1">Selection One</option>
                        <option value="2">Selection Two</option>
                        <option value="3">Selection Three</option>
                        <option value="4">Selection Four</option>
                    </select>
                    </span>
                </p>
                
                <br />
                
                <p class="stdformbutton">
                	<button class="submit radius2">Submit Button</button>
                </p>
            </form>

    </div><!--subcontent-->

</div><!--contentwrapper-->