<script type="text/javascript">
jQuery.getScript('/js/custom/forms.js', function() {});
//jQuery.getScript('/js/custom/elements.js', function() {});
jQuery(document).ready(function(){
	jQuery("#testACUpdate").find("input").attr("disabled","disabled").attr("style","background:#eee");
	jQuery("#testACUpdate").find("textarea").attr("disabled","disabled").attr("style","background:#eee");
});
</script>

<div id="basicform" class="subcontent widgetpage">
	<form class="stdform width90form" method="post" id='testACUpdate' action="javascript:void(0);">
		<div class="one_half" style="width: 75%; margin-right: 0;">
		<div class="one_half" style="width: 50%; margin-right: 0;">
			<p>
		    	<label>风险描述</label>
		        <span class="field">
		        	<textarea cols="50" rows="5" name="riskDesc" class="longinput" th:text="${ac.riskDesc}"></textarea>
		        </span>
		    </p>
			<p>
				<label>AC测试内容</label>
			    <span class="field">
			    	<textarea cols="50" rows="5" name="acContent" class="longinput" th:text="${ac.acContent}"></textarea>
			    </span>
			</p>
			<p>
				<label>AC测试方法</label>
			    <span class="field">
			    	<textarea cols="50" rows="5" name="acMethod" class="longinput" th:text="${ac.acMethod}"></textarea>
			    </span>
			</p>
		</div>
		<div class="one_half last" style="width: 50%; margin-right: 0;">
			<p>
		    	<label>AC测试结论</label>
		        <span class="field">
		        	<input type="text" name="acResult" class="longinput" th:value="${ac.acResult}" required="true"/>
		        </span>
		    </p>
			<p>
				<label>AC测试记录</label>
			    <span class="field">
			    	<textarea cols="50" rows="5" name="acRecord" class="longinput" th:text="${ac.acRecord}"></textarea>
			    </span>
			</p>
			<p>
				<label>差异金额</label>
			    <span class="field">
			    	<input type="number" name="disAmount" class="longinput" th:value="${ac.disAmount}"/>
			    </span>
			</p>
			<p>
				<label>样本金额</label>
			    <span class="field">
			    	<input type="number" name="sampleAmount" class="longinput" th:value="${ac.sampleAmount}"/>
			    </span>
			</p>
			<p>
				<label>OE测试附件</label>
			    <span class="field">
			    	<span style="margin-left: 10px" class="fileNamesAC" th:each="file,index:${files}">
			    		<a th:href="'/index/file/down/actest?id=' + ${file.testId} + '&amp;fileId=' + ${file.id}" class="orangeboldlink" target="_blank" th:text="${file.getName()}"></a><br/>
			    	</span>
			    </span>
			</p>
		</div>
		</div>
		<div class="one_half last width50form" style="width: 25%; margin-right: 0;">
			<p>
				<label>经理意见</label>
			    <span class="field">
			    	<input type="radio" name="managerOpinion" th:checked="${ac.managerOpinion == 'pass'}?'checked':'false'" value="pass"/> 通过 &nbsp; &nbsp;
	            	<input type="radio" name="managerOpinion" th:checked="${ac.managerOpinion == 'sendback'}?'checked':'false'" value="sendback"/> 退回 &nbsp; &nbsp;
			    </span>
			</p>
			<p>
		    	<label>缺陷评价</label>
		    	<span class="field">
		        <span class="field" style="margin-left: 10px" th:each="type,index:${imperfectionTyps}">
		        	<input type="radio" name="imperfection" th:checked="${ac.imperfection == type}?'checked':'false'" th:value="${type}" th:text="${type.actext}"/>
		        </span>
		        </span>
		    </p>
		    <p>
				<label>经理批注</label>
			    <span class="field">
			    	<textarea cols="50" rows="20" name="managerPostil" class="longinput" th:text="${ac.managerPostil}"></textarea>
			    </span>
			</p>
		</div>
	</form>
</div>