<script type="text/javascript">
jQuery.getScript('js/custom/tables.js', function() {});
</script>

<div class="pageheader notab">
    <h1 class="pagetitle">系统管理 > 用户管理</h1>
</div><!--pageheader-->

<div id="contentwrapper" class="contentwrapper tables">
	<div class="tableoptions">
        <select class="radius3">
        	<option value="">Show All</option>
            <option value="">Rendering Engine</option>
            <option value="">Platform</option>
        </select> &nbsp;
        <button class="radius3">查询</button>
        <div class="right_move">
        <button class="radius3">删除</button> &nbsp;
        <button class="radius3">新增</button> &nbsp;
        </div>
    </div><!--tableoptions-->	
    <table cellpadding="0" cellspacing="0" border="0" id="table1" class="stdtable stdtablecb">
        <colgroup>
            <col class="con0" style="width: 4%" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
        </colgroup>
        <thead>
            <tr>
            	<th class="head0"><input type="checkbox" class="checkall" /></th>
                <th class="head1">用户ID</th>
                <th class="head0">用户姓名</th>
                <th class="head1">登陆名</th>
                <th class="head0">用户角色</th>
                <th class="head1">用户状态</th>
                <th class="head0">创建时间</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<td align="center"><input type="checkbox" /></td>
                <td>Trident</td>
                <td>Internet Explorer 4.0</td>
                <td>Win 95+</td>
                <td class="center">4</td>
                <td class="center">X</td>
                <td class="center">X</td>
            </tr>
        </tbody>
    </table>
	<ul class="pagination">
		<li class="first"><a href="" class="disable">&laquo;</a></li>
		<li class="previous"><a href="" class="disable">&lsaquo;</a></li>
		<li><a href="" class="current">1</a></li>
		<li><a href="">2</a></li>
		<li><a href="">3</a></li>
		<li><a href="">4</a></li>
		<li><a href="">5</a></li>
		<li class="next"><a href="">&rsaquo;</a></li>
		<li class="last"><a href="">&raquo;</a></li>
	</ul>
</div><!--contentwrapper-->