<script type="text/javascript">
jQuery.getScript('/js/custom/tables.js', function() {});
//jQuery.getScript('js/custom/elements.js', function() {});
jQuery(document).ready(function(){
	jQuery("#userList").validate({
		errorPlacement: function(error, element) {  
			jAlert("未选择任何用户", '提示');
		}
	});
});
</script>

<div class="pageheader notab">
    <h1 class="pagetitle">系统管理 > 用户管理</h1>
</div><!--pageheader-->

<div id="contentwrapper" class="contentwrapper tables">
	<div class="tableoptions">
        <select class="radius3" id="query_param_key">
        	<option value="">请选择</option>
        	<option value="userName" th:selected="${queryKey == 'userName'}?'selected':false">用户名</option>
        </select> &nbsp;
        <input type="text" id="query_param_value" class="search_input" th:value="${queryValue}"/>
        <button class="radius3" onclick="loadCenterContentQuery('/index/user/page?page=0');">查询</button>
        <div class="right_move">
        <button class="radius3" onclick="submitForm('userList', '/index/user/delete', 'index/user/page?page=0');">删除</button> &nbsp;
        <button class="radius3" onclick="loadCenterContent('/index/user/create');">新增</button> &nbsp;
        </div>
    </div><!--tableoptions-->	
    <form method="post" id="userList" action="javascript:void(0);">
    <table cellpadding="0" cellspacing="0" border="0" id="table1" class="stdtable stdtablecb">
        <colgroup>
            <col class="con0" style="width: 4%" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
        </colgroup>
        <thead>
            <tr>
            	<th class="head0"><input type="checkbox" class="checkall" /></th>
                <th class="head1">用户ID</th>
                <th class="head0">用户姓名</th>
                <th class="head1">登陆名</th>
                <th class="head0">用户角色</th>
                <th class="head1">用户状态</th>
                <th class="head0">创建时间</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user,index:${users.page.content}">
            	<td align="center"><input type="checkbox" name="ids" th:value="${user.id}" required="true" minlength="1"/></td>
                <td class="center">
                	<a href="javascript:void(0);" class="orangeboldlink" th:onclick="'loadCenterContent(\'/index/user/update?id='+${user.id}+'\');'" th:text="${user.userId}"></a>
                </td>
                <td th:text="${user.userName}" class="center"></td>
                <td th:text="${user.loginName}" class="center"></td>
                <td th:text="${user.roleNames}" class="center"></td>
                <td th:text="${user.status.text}" class="center"></td>
                <td th:text="${#calendars.format(user.createTime,'yyyy-MM-dd HH:mm:ss')}" class="center"></td>
            </tr>
        </tbody>
    </table>
    </form>
    <div class="right_padding_top">
		<ul class="pagination">
			<li class="first">
				<a href="javascript:void(0);" onclick="loadCenterContent('/index/user/page?page=0');" th:class="${users.page.isFirst()}?'disable':''">&laquo;</a>
			</li>
			<li class="previous">
				<a href="javascript:void(0);" th:onclick="'loadCenterContent(\'/index/user/page?page='+${users.page.hasPrevious()?(users.page.number-1):0}+'\');'" th:class="${users.page.isFirst()}?'disable':''">&lsaquo;</a>
			</li>
			<li th:each="i:${#numbers.sequence(users.startpage, users.endpage)}"><a href="javascript:void(0);" th:onclick="'loadCenterContent(\'/index/user/page?page='+${i-1}+'\');'" th:text="${i}" th:class="${users.page.number+1 == i}?'current':''">1</a></li>
			<li class="next">
				<a href="javascript:void(0);" th:onclick="'loadCenterContent(\'/index/user/page?page='+${users.page.hasNext()?(users.page.number+1):0}+'\');'" th:class="${users.page.isLast()}?'disable':''">&rsaquo;</a>
			</li>
			<li class="last">
				<a href="javascript:void(0);" th:onclick="'loadCenterContent(\'/index/user/page?page='+${users.page.totalPages}+'\');'" th:class="${users.page.isLast()}?'disable':''">&raquo;</a>
			</li>
		</ul>
	</div>
</div><!--contentwrapper-->