<script type="text/javascript">
jQuery.getScript('/js/custom/forms.js', function() {});
//jQuery.getScript('js/custom/elements.js', function() {});
</script>

<div class="pageheader notab">
    <h1 class="pagetitle">系统管理 > 新增用户</h1>
</div><!--pageheader-->

<div id="contentwrapper" class="contentwrapper">
   	<div id="basicform" class="subcontent">
	<form class="stdform" method="post" id='userCreateOrUpdate' action="javascript:void(0);">
		<p>
			<label>用户ID</label>
		    <span class="field">
		    	<input th:if="${userInfo.create}" type="text" disabled="disabled" class="smallinput" style="background:#eee" value="用户ID由系统自动生成"/>
		    	<input th:if="${!userInfo.create}" type="text" disabled="disabled" class="smallinput" style="background:#eee" name="userId" th:value="${user.userId}"/>
		    </span>
		</p>
		
		<p>
			<label>用户姓名</label>
		    <span class="field">
		    	<input type="text" name="userName" class="smallinput" th:text="${userInfo.user==null? '':userInfo.user.userName}"/>
		    </span>
		</p>
	
		<p>
			<label>登陆名</label>
		    <span class="field">
		    	<input type="text" name="loginName" class="smallinput" th:text="${userInfo.user==null? '':userInfo.user.userName}"/>
		    </span>
		</p>
		
		<p>
			<label>登陆密码</label>
		    <span class="field"><input type="password" name="password" class="smallinput form_password_input" /></span>
		</p>
		
		<p>
			<label>登陆密码确认</label>
		    <span class="field"><input type="password" name="password2" class="smallinput form_password_input" /></span>
		</p>
	
		<p>
		    <label>用户角色</label>
			<span class="formwrapper">
				<span th:each="role,index:${userInfo.roles}">
				<input type="checkbox" th:checked="${userInfo.user!=null and userInfo.user.roles.contains(role)?'checked':false}" name="roles" th:value="${role}" th:text="${role.text}"/><br />
				</span>
			</span>
		</p>
	 	<!-- 
	    <p>
	    	<label>Location <small>You can put your own description for this field here.</small></label>
	        <span class="field"><textarea cols="80" rows="5" name="location" id="location2" class="longinput"></textarea></span>
	    </p>
	     -->
	    <p>
	    	<label>用户状态</label>
	        <span class="field">
	        <select name="status" class="uniformselect">
				<option th:each="one,index:${userInfo.allStatus}" th:selected="${userInfo.user!=null and userInfo.user.status==one?'selected':false}" th:value="${one}" th:text="${one.text}"></option>
			</select>
	        </span>
	    </p>
	    
	    <p class="stdformbutton">
	    	<button class="submit radius2" onclick="submitForm('userCreateOrUpdate', '/index/user/create', 'index/user/page?page=0'); return false;">提交</button>
	        <input type="reset" class="reset radius2" value="重置" />
	    </p>
	    
	    <span style="display: ;" th:if="${userInfo.errmsg != null}" th:text="${userInfo.errmsg}"></span>
	</form>
	</div>
</div>