<script type="text/javascript">
/*<![CDATA[*/
jQuery(document).ready(function(){
	limitTableTd("gclistTable", 20);
});
function testGCImport(id, url){
	var templateId = jQuery("#importKey :selected").val();
	if(templateId == null || templateId == ''){
		jAlert('未选择任何模板', '提示');
		return;
	}
	jConfirm('确认导入?导入后追加到现有记录之后', '提示', function(r) {
		if(r){
			loadTabContent(id, url + "&templateId=" + templateId);
		}
	});
}
/*]]>*/
</script>


<div class="tableoptions">
	<label>请选择测试模板：</label>
	<select class="radius3" id="importKey">
		<option value="">请选择</option>
		<option th:each="group,index:${templateGroups}" th:value="${group.id}" th:text="${group.name}"></option>
	</select> &nbsp;
	<button class="radius3" th:onclick="'testGCImport(\'tabs-2\', \'/index/manager/test/gcImport?objectId='+${objectId}+'\');'">导入</button>
	<div class="right_move">
		<button class="radius3" th:onclick="'submitFormByConfrim(\'gcList\', \'/index/manager/test/gcDelete\', \'\', function(){loadTabContent(\'tabs-2\', \'/index/manager/test/gclist?page=0&amp;objectId='+${objectId}+'\');});'">删除</button> &nbsp;
		<button class="radius3" th:onclick="'loadTabContent(\'tabs-2\', \'/index/manager/test/gcUpdate?objectId='+${objectId}+'\');'">新增</button> &nbsp;
    </div>
</div><!--tableoptions-->	
<form method="post" id="gcList" action="javascript:void(0);">
<table cellpadding="0" cellspacing="0" border="0" id="gclistTable" class="stdtable stdtablecb">
    <colgroup>
        <col class="con0" style="width: 4%" />
          <col class="con1" />
          <col class="con0" />
          <col class="con1" />
          <col class="con0" />
          <col class="con1" />
          <col class="con0" />
      </colgroup>
      <thead>
          <tr>
          	<th class="head0"><input type="checkbox" class="checkall" /></th>
              <th class="head1">测试编号</th>
              <th class="head0">一级控制域</th>
              <th class="head1">二级控制域</th>
              <th class="head0">IT风险描述</th>
              <th class="head1">风险初步评价</th>
              <th class="head0">审计程序</th>
          </tr>
      </thead>
      <tbody>
          <tr th:each="gc,index:${gcList.page.content}">
			<td align="center"><input type="checkbox" name="ids" th:value="${gc.id}" required="true" minlength="1"/></td>
              <td class="center">
              	<a href="javascript:void(0);" class="orangeboldlink" th:onclick="'loadTabContent(\'tabs-2\', \'/index/manager/test/gcUpdate?id='+${gc.id}+'\');'" th:text="${gc.number}"></a>
              </td>
              <td th:text="${gc.firstRegion}" class="center limit"></td>
              <td th:text="${gc.secondRegion}" class="center limit"></td>
              <td th:text="${gc.riskDesc}" class="center limit"></td>
              <td th:text="${gc.riskEstimate}" class="center limit"></td>
              <td th:text="${gc.audit}" class="center limit"></td>
          </tr>
      </tbody>
  </table>
</form>
<div class="right_padding_top">
	<ul class="pagination" style="">
		<li class="first" style="padding-left:0;">
			<a href="javascript:void(0);" th:onclick="'loadTabContent(\'tabs-2\', \'/index/manager/test/gclist?page=0&amp;objectId='+${objectId}+'\');'" th:class="${gcList.page.isFirst()}?'disable':''">&laquo;</a>
		</li>
		<li class="previous" style="padding-left:0;">
			<a href="javascript:void(0);" th:onclick="'loadTabContent(\'tabs-2\', \'/index/manager/test/gclist?page='+${gcList.page.hasPrevious()?(gcList.page.number-1):0}+'&amp;objectId='+${objectId}+'\');'" th:class="${gcList.page.isFirst()}?'disable':''">&lsaquo;</a>
		</li>
		<li th:each="i:${#numbers.sequence(gcList.startpage, gcList.endpage)}" style="padding-left:0;"><a href="javascript:void(0);" th:onclick="'loadTabContent(\'tabs-2\', \'/index/manager/test/gclist?page='+${i-1}+'&amp;objectId='+${objectId}+'\');'" th:text="${i}" th:class="${gcList.page.number+1 == i}?'current':''">1</a></li>
		<li class="next" style="padding-left:0;">
			<a href="javascript:void(0);" th:onclick="'loadTabContent(\'tabs-2\', \'/index/manager/test/gclist?page='+${gcList.page.hasNext()?(gcList.page.number+1):0}+'&amp;objectId='+${objectId}+'\');'" th:class="${gcList.page.isLast()}?'disable':''">&rsaquo;</a>
		</li>
		<li class="last" style="padding-left:0;">
			<a href="javascript:void(0);" th:onclick="'loadTabContent(\'tabs-2\', \'/index/manager/test/gclist?page='+${gcList.page.totalPages}+'&amp;objectId='+${objectId}+'\');'" th:class="${gcList.page.isLast()}?'disable':''">&raquo;</a>
		</li>
	</ul>
</div>