<table cellpadding="0" cellspacing="0" border="0" class="stdtable">
	<colgroup>
		<col class="con0" />
		<col class="con1" />
	</colgroup>
	<thead>
		<tr>
			<th class="head0">测试类型</th>
			<th class="head1">纳入测试范围的测试内容数量</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="center">一般性控制测试（GC）</td>
			<td class="center" th:text="${gc}">0</td>
		</tr>
		<tr>
			<td class="center">自动化控制测试（AC）</td>
			<td class="center" th:text="${ac}">0</td>
		</tr>
		<tr>
			<td class="center">数据分析测试（DA）</td>
			<td class="center" th:text="${da}">0</td>
		</tr>
	</tbody>
</table>