<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>404</title>
<link rel="stylesheet" href="/css/style.default.css" type="text/css" />
<script type="text/javascript" src="/js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/custom/general.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
var url = window.location.href;
if(url.indexOf('/404') <= 0){
	window.location.replace("/404");
}
/*]]>*/
</script>
</head>

<body>
<div class="bodywrapper">
    <div class="topheader orangeborderbottom5">
        <div class="left">
            <h1 class="logo">IT Audit<span>System</span></h1>
            <span class="slogan">后台管理系统</span>
            
            <br clear="all" />
            
        </div><!--left-->
        
        <div class="right">
        </div><!--right-->
    </div><!--topheader-->
    
    
    <div class="contentwrapper padding10">
    	<div class="errorwrapper error404">
        	<div class="errorcontent">
                <h1>404 页面不存在</h1>
                <h3>We couldn't find that page. It appears that you are lost.</h3>
                
                <p>The page you are looking for is not found. This could be for several reasons</p>
                <ul>
                    <li>It never existed.</li>
                    <li>It got deleted for some reason.</li>
                    <li>You were looking for something that is not here.</li>
                    <li>You like this page.</li>
                </ul>
                <br />
                <button class="stdbtn btn_black" onclick="history.back()">Go Back to Previous Page</button> &nbsp; 
                <button onclick="location.href='/'" class="stdbtn btn_orange">Go Back to Dashboard</button>
            </div><!--errorcontent-->
        </div><!--errorwrapper-->
    </div>    
    
    
</div><!--bodywrapper-->

</body>
</html>
