<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Forms | Amanda Admin Template</title>
<link rel="stylesheet" href="css/style.default.css" type="text/css" />
<script type="text/javascript" src="js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="js/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="js/plugins/charCount.js"></script>
<script type="text/javascript" src="js/plugins/ui.spinner.min.js"></script>
<script type="text/javascript" src="js/plugins/chosen.jquery.min.js"></script>
<script type="text/javascript" src="js/custom/general.js"></script>
<script type="text/javascript" src="js/custom/forms.js"></script>

<script type="text/javascript" src="js/audit/frame.js"></script>
</head>

<body class="withvernav">

<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">IT Audit<span>System</span></h1>
            <span class="slogan">后台管理系统</span>
            
            <!--search<div class="search">
            	<form action="" method="post">
                	<input type="text" name="keyword" id="keyword" value="请输入" />
                    <button class="submitbutton"></button>
                </form>
            </div>-->
            
            <br clear="all" />
            
        </div><!--left-->
        
        <div class="right">
        	<!-- 
        	<div class="notification">
                <a class="count" href="ajax/notifications.html"><span>9</span></a>
        	</div> -->
            <div class="userinfo">
            	<img src="images/thumbs/avatar.png" alt="" />
                <span th:text="${indexInfo.user.userName}">未知用户</span>
            </div><!--userinfo-->
            
            <div class="userinfodrop">
            	<div class="avatar">
                	<a href=""><img src="images/thumbs/avatarbig.png" alt="" /></a>
                    <div class="changetheme">
                    	Change theme: <br />
                    	<a class="default"></a>
                        <a class="blueline"></a>
                        <a class="greenline"></a>
                        <a class="contrast"></a>
                        <a class="custombg"></a>
                    </div>
                </div><!--avatar-->
				<div class="userdata">
                	<h4 th:text="${indexInfo.user.userName}">未知用户</h4><br/>
                    <span class="email" th:text="${indexInfo.user.loginName}">未知登录名</span>
                    <ul>
                    	<li><a href="javascript:actionNotOpened();">编辑资料</a></li>
                        <li><a href="javascript:actionNotOpened();">账号设置</a></li>
                        <li><a href="javascript:actionNotOpened();">帮助</a></li>
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
    
    
    <div class="header">
    	<ul class="headermenu">
        	<li class="current" th:each="roleConfig,index:${indexInfo.allRole}">
        		<a th:class="${indexInfo.user.roles.contains(roleConfig.role)}?opened:notOpened" href="javascript:void(0);" th:onclick="'headerMenuClick(this,\''+${roleConfig.leftMenuUrl}+'\',\''+${roleConfig.centerContentUrl}+'\');'">
        			<span th:class="${'icon '+roleConfig.imgClass}"></span>
        			<span th:text="${roleConfig.role.text}">功能列表</span>
        		</a>
        	</li>
        </ul>
        
        <div class="headerwidget">
        	<div class="earnings">
            	<div class="one_half">
                	<h4>当前已开通角色</h4>
                </div><!--one_half-->
                <div class="one_half last alignright">
                	<h4 th:each="role,index:${indexInfo.user.roles}" th:text="${role.text}">无</h4>
                </div><!--one_half last-->
            </div><!--earnings-->
        </div><!--headerwidget-->
        
    </div><!--header-->
    
    <div class="vernav2 iconmenu">
    	<ul id="leftmenu"></ul>
		<a class="togglemenu"></a>
		<br /><br />
    </div><!--leftmenu-->

    <div id="centercontent" class="centercontent">

    </div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

</body>
</html>