<script type="text/javascript">
jQuery.getScript('/js/audit/leftmenu.js', function() {});
</script>

<li th:if="${role=='ADMIN'}"><a href="javascript:void(0);" onclick="loadCenterContent('/index/user/page?page=0');" class="elements">用户管理</a></li>
<li th:if="${role=='ADMIN'}"><a href="javascript:void(0);" onclick="actionNotOpened();" class="elements">知识库管理</a></li>

<li th:if="${role=='EXECUTIVE'}"><a href="javascript:void(0);" onclick="actionNotOpened();" class="elements">管理层驾驶舱</a></li>
<li th:if="${role=='EXECUTIVE'}"><a href="javascript:void(0);" onclick="actionNotOpened();" class="elements">报告调阅</a></li>
<li th:if="${role=='EXECUTIVE'}"><a href="javascript:void(0);" onclick="actionNotOpened();" class="elements">知识库查询</a></li>

<li style="display: none;" th:if="${role=='MANAGER'}"><a href="javascript:void(0);" onclick="loadCenterContent('/index/manager/');" class="elements">主页</a></li>
<li th:if="${role=='MANAGER'}"><a href="javascript:void(0);" onclick="loadCenterContent('/index/manager/create');" class="elements">项目创建</a></li>
<li th:if="${role=='MANAGER'}"><a href="javascript:void(0);" onclick="loadCenterContent('/index/manager/page?page=0');disableSubMenu('objectId')" class="elements">项目管理</a>
	<span class="arrow"></span>
	<span style="display: none;" id="objectId"></span>
	<ul id="objectManage">
   		<li><a href="javascript:void(0);" onclick="loadCenterContentBySubClick('objectId','/index/manager/manage?id='+jQuery('#objectId').text());return false;">项目测试范围</a></li>
        <li><a href="javascript:void(0);" onclick="loadCenterContentBySubClick('objectId','/index/manager/user/list?objectId='+jQuery('#objectId').text());return false;">项目成员管理</a></li>
        <li><a href="javascript:void(0);" onclick="loadCenterContentBySubClick('objectId','/index/manager/task/allot?id='+jQuery('#objectId').text());return false;">工作任务分配</a></li>
        <li><a href="javascript:void(0);" onclick="loadCenterContentBySubClick('objectId','/index/manager/review/index?id='+jQuery('#objectId').text());return false;">工作复核</a></li>
        <li><a href="#">项目基本信息</a></li>
    </ul>
</li>
<li th:if="${role=='MANAGER'}"><a href="javascript:void(0);" onclick="actionNotOpened();" class="elements">项目报告</a></li>
<li th:if="${role=='MANAGER'}"><a href="javascript:void(0);" onclick="actionNotOpened();" class="elements">知识库查询</a></li>

<li th:if="${role=='REVIEWER'}"><a href="javascript:void(0);" onclick="actionNotOpened();" class="elements">项目复核</a></li>
<li th:if="${role=='REVIEWER'}"><a href="javascript:void(0);" onclick="actionNotOpened();" class="elements">项目报告</a></li>
<li th:if="${role=='REVIEWER'}"><a href="javascript:void(0);" onclick="actionNotOpened();" class="elements">知识库查询</a></li>

<li th:if="${role=='AUDITOR'}"><a href="javascript:void(0);" onclick="actionNotOpened();" class="elements">项目工作</a></li>
<li th:if="${role=='AUDITOR'}"><a href="javascript:void(0);" onclick="actionNotOpened();" class="elements">项目报告</a></li>
<li th:if="${role=='AUDITOR'}"><a href="javascript:void(0);" onclick="actionNotOpened();" class="elements">知识库查询</a></li>


