<script type="text/javascript">
jQuery.getScript('js/audit/leftmenu.js', function() {});
</script>

<li th:if="${role=='ADMIN'}"><a href="javascript:void(0);" onclick="loadCenterContent('/index/user/page?page=0');" class="elements">用户管理</a></li>
<li th:if="${role=='ADMIN'}"><a href="javascript:void(0);" class="elements">知识库管理</a></li>

<li th:if="${role=='EXECUTIVE'}"><a href="javascript:void(0);" class="elements">管理层驾驶舱</a></li>
<li th:if="${role=='EXECUTIVE'}"><a href="javascript:void(0);" class="elements">报告调阅</a></li>
<li th:if="${role=='EXECUTIVE'}"><a href="javascript:void(0);" class="elements">知识库查询</a></li>

<li th:if="${role=='MANAGER'}"><a href="javascript:void(0);" class="elements">项目创建</a></li>
<li th:if="${role=='MANAGER'}"><a href="javascript:void(0);" class="elements">项目管理</a></li>
<li th:if="${role=='MANAGER'}"><a href="javascript:void(0);" class="elements">项目报告</a></li>
<li th:if="${role=='MANAGER'}"><a href="javascript:void(0);" class="elements">知识库查询</a></li>

<li th:if="${role=='REVIEWER'}"><a href="javascript:void(0);" class="elements">项目复核</a></li>
<li th:if="${role=='REVIEWER'}"><a href="javascript:void(0);" class="elements">项目报告</a></li>
<li th:if="${role=='REVIEWER'}"><a href="javascript:void(0);" class="elements">知识库查询</a></li>

<li th:if="${role=='AUDITOR'}"><a href="javascript:void(0);" class="elements">项目工作</a></li>
<li th:if="${role=='AUDITOR'}"><a href="javascript:void(0);" class="elements">项目报告</a></li>
<li th:if="${role=='AUDITOR'}"><a href="javascript:void(0);" class="elements">知识库查询</a></li>


