<script type="text/javascript">
/*<![CDATA[*/
jQuery(document).ready(function(){
	jQuery("#gcList").validate({
		errorPlacement: function(error, element) {  
			jAlert("未选择任何任务", '提示');
		}
	});
	limitTableTd("gclistTable", 20);
});
/*]]>*/
</script>


<div class="tableoptions">
	<input type="text" th:value="${objectId}" id="GCTaskObjectId" name="type" style="display: none;"/>
	<button class="radius3" th:onclick="'loadTabContent(\'tabs-2\', \'/index/auditor/task/gclist?page=0&amp;unsubmit=1&amp;objectId='+${objectId}+'\');'">只显示未提交的测试</button> &nbsp;
	<button class="radius3" th:onclick="'loadTabContent(\'tabs-2\', \'/index/auditor/task/gclist?page=0&amp;sendback=1&amp;objectId='+${objectId}+'\');'">只显示退回的测试</button> &nbsp;
	<div class="right_move">
        <button class="radius3" onclick="submitFormByConfrim('gcList', '/index/auditor/task/submit', '', function(){loadTabContent('tabs-2', '/index/auditor/task/gclist?page=0&amp;objectId='+jQuery('#GCTaskObjectId').val());});">提交测试至经理</button> &nbsp;
    </div>
</div><!--tableoptions-->	
<form method="post" id="gcList" action="javascript:void(0);">
<input type="text" value="GC" name="type" style="display: none;"/>
<table cellpadding="0" cellspacing="0" border="0" id="gclistTable" class="stdtable stdtablecb">
   	<colgroup>
   	      <col class="con0" style="width: 4%" />
          <col class="con1" />
          <col class="con0" />
          <col class="con1" />
          <col class="con0" />
          <col class="con1" />
          <col class="con0" />
      </colgroup>
      <thead>
          <tr>
          	  <th class="head0"><input type="checkbox" class="checkall" /></th>
              <th class="head1">测试编号</th>
              <th class="head0">D&amp;I有效性</th>
              <th class="head1">是否测试OE</th>
              <th class="head0">OE有效性</th>
              <th class="head1">状态</th>
              <th class="head1">经理意见</th>
          </tr>
      </thead>
      <tbody>
          <tr th:each="gc,index:${page.content}">
          	  <td align="center"><input type="checkbox" name="taskIds" th:value="${gc.id}" required="true" minlength="1"/></td>
              <td class="center">
              	<a href="javascript:void(0);" class="orangeboldlink" th:onclick="'loadTabContent(\'tabs-2\', \'/index/auditor/task/update?testId='+${gc.id}+'&amp;type=GC\');'" th:text="${gc.number}"></a>
              </td>
              <td th:text="${gc.diResult}" class="center limit"></td>
              <td th:text="${gc.oe}?'是':'否'" class="center limit"></td>
              <td th:text="${gc.oeResult}" class="center limit"></td>
              <td th:text="${gc.status.text}" class="center"></td>
              <td th:text="${gc.managerOpinionToChinese}" class="center limit"></td>
          </tr>
      </tbody>
  </table>
</form>
<div class="right_padding_top" th:include="page::tabPageNumberSet(${page}, ${'tabs-2'}, ${'/index/auditor/task/gclist?objectId='+objectId+'&amp;'})">
	<!-- 分页页码 -->
</div>