<script type="text/javascript">
jQuery.getScript('/js/custom/tables.js', function() {});
jQuery(document).ready(function(){
	jQuery("#userList").validate({
		errorPlacement: function(error, element) {  
			jAlert("未选择任何用户", '提示');
		}
	});
});
</script>

<div class="pageheader notab">
    <h1 class="pagetitle" th:text="'系统管理员 > 知识库管理 > '+${templateGroupName}+'模板列表'"></h1>
</div><!--pageheader-->

<div id="contentwrapper" class="contentwrapper tables">
	<div class="tableoptions">
        <select class="radius3" id="query_param_key">
        	<option value="">请选择</option>
        	<option value="firstRegion" th:selected="${queryKey == 'firstRegion'}?'selected':false">一级控制域</option>
        	<option value="secondRegion" th:selected="${queryKey == 'secondRegion'}?'selected':false">二级控制域</option>
        </select> &nbsp;
        <input type="text" id="query_param_value" class="search_input" th:value="${queryValue}"/>
        <button class="radius3" th:onclick="'loadCenterContentQuery(\'/index/template/page?page=0&amp;groupId='+${templateGroupId}+'\');'">查询</button>
        <div class="right_move">
			<button class="radius3" th:onclick="'submitFormByConfrim(\'templateGroup\', \'/index/template/delete\', \'\', function(){loadCenterContentQuery(\'/index/template/page?page=0&amp;groupId='+${templateGroupId}+'\');});'">删除</button> &nbsp;
			<button class="radius3" th:onclick="'loadCenterContentQuery(\'/index/template/update?groupId='+${templateGroupId}+'\');'">新增</button> &nbsp;
    	</div>
    </div><!--tableoptions-->	
    <form method="post" id="templateGroup" action="javascript:void(0);">
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablecb">
        <colgroup>
        	<col class="con0" style="width: 4%" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
        </colgroup>
        <thead>
            <tr>
            	<th class="head0"><input type="checkbox" class="checkall" /></th>
            	<th class="head0">模板ID</th>
                <th class="head1">风险编号</th>
              	<th class="head0">一级控制域</th>
              	<th class="head1">二级控制域</th>
              	<th class="head0">IT风险描述</th>
              	<th class="head1">风险初步评价</th>
              	<th class="head0">审计程序</th>
                <th class="head1">模板组创建时间</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="info,index:${page.content}">
            	<td align="center"><input type="checkbox" name="ids" th:value="${info.id}" required="true" minlength="1"/></td>
            	<td class="center">
                	<a href="javascript:void(0);" class="orangeboldlink" th:onclick="'loadCenterContentQuery(\'/index/template/update?id='+${info.id}+'&amp;groupId='+${templateGroupId}+'\');'" th:text="${info.id}"></a>
                </td>
            	<td th:text="${info.riskNumber}" class="center limit"></td>
            	<td th:text="${info.firstRegion}" class="center limit"></td>
              	<td th:text="${info.secondRegion}" class="center limit"></td>
              	<td th:text="${info.riskDesc}" class="center limit"></td>
              	<td th:text="${info.riskEstimate}" class="center limit"></td>
              	<td th:text="${info.audit}" class="center limit"></td>
                <td th:text="${#calendars.format(info.createTime,'yyyy-MM-dd HH:mm:ss')}" class="center"></td>
            </tr>
        </tbody>
    </table>
    </form>
    <div class="right_padding_top" th:include="page::centerPageNumberSet(${page}, ${'/index/template/page?groupId='}+${templateGroupId}+${'&amp;'})">
		<!-- 分页页码 -->
	</div>
</div><!--contentwrapper-->